<div class="solution-card__statistic">
  <div class="solution-card__statistic-number">
    {{ number }}
  </div>
  <div class="solution-card__statistic-description">
    {{ description }}
  </div>
</div>
