<div class="layout layout--onecol">
  <div class="layout__region layout__region--content">
    <div class="tall block-bundle-hero hero">
      <div class="hero__background">
        <img src="/sites/default/files/2021-09/homepage-hero-bg.jpg" alt="Homepage hero">
      </div>
      <div class="wrapper">
        <div class="layout layout--twocol-section layout--twocol-section--75-25">
          <div class="layout__region layout__region--first">
            <div>
              <div class="sub-title">
                <h1>{% include "@includes/../images/homepage-logo.svg" %}<span class="visually-hidden">Mandiant - Your cyber security advantage</span></h1>
              </div>
            </div>
            <div>
              <div class="devider">
                <p>Mandiant is on a mission to make every organization secure from cyber threats and confident in their readiness. We deliver dynamic cyber defense solutions powered by industry leading expertise, intelligence and innovative technology.</p>
              </div>
            </div>
            <div>
              <div class="cta-button">
                <a href="">Start here</a>
              </div>
            </div>
          </div>
          <div class="layout__region layout__region--second"></div>
        </div>
      </div>
    </div>
  </div>
</div>
