#block-tabs {
  background: #fff;
  display: block;
  position: fixed;
  right: 2rem;
  top: 30%;

  ul {
    padding: 0 2rem;

    li {
      font-weight: bold;
      list-style-type: none;
      margin: 0;

      a {
        color: #000;
      }
    }
  }
}
