.bright_talk_webinar {
  display: inline-block;
}
.brighttalk_url a {
  background-image: url(../images/Bright_talk_webinar.svg);
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  top: 0;
  width: 170px;
  height: 40px;
  display: block;
  font-size: 0;
}