<div{{ attributes.removeClass('block-bundle-relationship').addClass('block-bundle-featured_resources') }}>
  {{ title_prefix }}{{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
