// ========================================================================= //
// WRAPPER
// ========================================================================= //

@mixin container($size) {
  margin-left: auto;
  margin-right: auto;
  max-width: $size;
}

.wrapper,
.wrapper--narrow,
.wrapper--wide {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  @include breakpoint($large-tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

%wrapper,
.wrapper {
  @include container(1400px);

  &--narrow {
    @include container(930px);
  }

  &--wide {
    @include container(1580px);
  }
}
