{# t02-landing-page.twig #}
{% extends '@includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    <h1>{{ title }}</h1>
  </section>

  {# Hero Tall #}

  {# Text #}

  {# Solutions Category Cards #}

  {# CTA Full #}

  {# Statistics Full #}

  {# Featured Logos #}
{% endblock %}
