{# t03-solution-detail.twig #}
{% extends '@includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    <h1>{{ title }}</h1>
  </section>

  {# Hero Short #}

  {# Large Image Tile #}

  {# Small Image Tile #}

  {# Statistics Columns #}

  {# Related Insights #}

  {# Related Offerings #}

  {# CTA Full #}
{% endblock %}
