{# t04-product-detail.twig #}
{% extends '@includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    <h1>{{ title }}</h1>
  </section>

  {# Hero Short #}

  {# Large Image Tile #}

  {# Text 3 Column #}

  {# Small Image Tile #}

  {# Tabs with Media #}

  {# Table Comparison #}

  {# CTA Three Quarters #}

  {# Statistics Columns #}

  {# Related Actions #}

  {# Related Insights #}

  {# Related Customer Story #}

  {# Related Offerings #}

  {# CTA Full #}

  {# CTA Full #}
{% endblock %}
