{# t09-sign-up.twig #}
{% extends '@includes/1_core/layout.twig' %}

{% block page %}
  <section class="wrapper">
    <h1>{{ title }}</h1>
  </section>

  {# Hero Form #}

  {# Form #}

  {# Small Image Tile #}

  {# Featured Testimonial #}
{% endblock %}
