// .contact-message-mandiant-newsletter-form {
//   display: inline-block;
//   text-align: center;
//   margin: 0 auto;
// }
// .contact-message-mandiant-newsletter-form h2 {
//   font-size: 1.6rem;
//   margin-bottom: 1rem;
// }
// .contact-message-mandiant-newsletter-form #contact-message-mandiant-newsletter-form {
//   display: flex;
//   align-items: center;
// }
// .contact-message-mandiant-newsletter-form #contact-message-mandiant-newsletter-form .form-item label {
//   display:none;
// }

/*.contact-message-mandiant-newsletter-form #contact-message-mandiant-newsletter-form .form-email {
  width: auto;
  max-width: 250px;
  height: 34px;
  padding: 5px;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(48,60,66,0.7);
  background: transparent;
  outline: none;
}
.contact-message-mandiant-newsletter-form #contact-message-mandiant-newsletter-form .button {
  text-transform: uppercase;
  padding: 4px 14px;
  background: transparent;
  box-shadow: none;
  border: 1px solid rgba(48,60,66,0.7);
  cursor: pointer;
  border-radius: 4px;
}*/