/* View: Tags */
.tags-list {
  .item-list ul {
    list-style: none;
    padding: 0;
    margin: 5rem 0;
    width: 100%;
    li,
    li div {
      display: inline;
    }
    a {
      @include anchor();
      background-color: #fff;
      white-space: nowrap;
    }
  }
}

.article-list {
  .views-row {
    display: flex;

    .views-col {
      border: 1px solid #333;
      padding: 2rem;
    }
  }
}
