#block-mandiant-theme-content > .bio-detail {
  background-color: #dedee4;
  background-image: url('../images/backgrounds/bio-bg.png');
  background-position: 0 125%;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  padding-top: 8rem;
  position: relative;

  @include breakpoint($tablet) {
    background-position: 0 100%;
    padding-top: 22rem;
  }

  .layout--twocol-section--33-67 {
    @include container(1080px);

    @extend %wrapper;

    @include breakpoint($tablet) {
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .layout__region--second {
    @include breakpoint($tablet) {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @include breakpoint($desktop) {
      padding-left: 8rem;
      padding-right: 8rem;
    }
  }

  .bio-item-title {
    h2 {
      @include font-size(24, 32);
      font-weight: 600;
      margin: 1rem 0;
    }
  }

  .bio-item-role {
    @include small-caps;
    color: $medGray;
    margin-bottom: 2rem;
  }

  p {
    @include font-size(16, 22);
  }
}
